<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSChartsLibPodsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E9E69051C0D85630011FE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9E691E1C0D85640011FE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9E69291C0D85640011FE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
